/* Declare all variables for later use */
:root {
    --font-family-sans-serif: 'Open Sans', sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --cal-poly-green: rgb(44, 85, 48);
    --cambridge-blue: rgb(115, 158, 130);
    --mindaro: rgb(243, 255, 182);
    --persian-orange: rgb(211, 139, 93);
    --golden-brown: rgb(153, 98, 30);
    --white: white;
    --black: black;
}

/* ================================================================ */
html {
    height: 100%;
    font-family: var(--font-family-sans-serif);
}

main {
    width: 100%;
}

.aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cambridge-blue);
}

.article {
    width: 100%;
}

.container {
    width: 100%;
    margin: 25px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#search-form {
    justify-content: left;
    text-align: left;
}

label {
    font-weight: bold;
    color: var(--black);
}

div.col-6 {
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.current-weather {
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}

p {
    font-weight: bold;
}

.btn {
    color: var(--white);
    background-color: var(--cal-poly-green);
    width: 100%;
}

c
.btn:hover {
    background-color: var(--persian-orange);
}

button {
    color: var(--white);
    background-color: var(--cal-poly-green);
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 100%;
}

/* Including a different color when the history buttons are hovered on */
button:hover {
    background-color: var(--persian-orange);
    color: var(--white);
}

.history {
    padding: 10px;
    margin: 10px;
}

.historyList {
    text-align: left;
}

.five-day-forecast {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.five-day-forecast div {
    margin: 25px;
    padding: 10px;
    color: var(--black);
    background-color: var(--cambridge-blue);
}

/* The display will be hidden when this class is called */
.hide {
    display: none;
}